footer.titulares.footer
  .footer-top
    .footer-izq
      h2 Menú
      ul
        li
          a(href="#") Inicio
        li
          a(href="#") Quienes Somos
        li
          a(href="../pages/servicios.pug") Servicios
        li
          a(href="#") Proyectos
        li
          a(href="#") Blog
        li
          a(href="#") Contacto
    .footer-cen
      h2 Contacto
    .footer-der
      h2 Redes Sociales
      ul
        li
          a(href="")
            img(src="./assets/facebook.png", alt="")
        li
          a(href="")
            img(src="./assets/instagram.png", alt="")
        li
          a(href="")
            img(src="./assets/youtube.png", alt="")
        li
          a(href="")
            img(src="./assets/tiktok.png", alt="")
  .footer-bot
    p &copy; Digital Boost todos los derechos reservados.
