header.titulares.header
  .logo Digital Boost
  nav.menu
    ul
      li
        a(href="/") Inicio
      li
        a(href="#") Quienes Somos
      li
        a(href="/servicios") Servicios
      li
        a(href="#") Proyectos
      li
        a(href="#") Blog
      li
        a(href="#") Contacto
