header.titulares.header
  div.logo Digital Boost
  button.menu-hamburguesa#btn-menu
    img(src="/assets/hamburger.png" alt="Menú")
  nav.menu
    ul
      li
        a(href="/") Inicio
      li
        a(href="#") Quienes Somos
      li
        a(href="/servicios") Servicios 
        ul.submenu  
          li
            a(href="#/servicios/consultoria") Consultoría  
      li
        a(href="#") Proyectos
      li
        a(href="#") Blog
      li
        a(href="#") Contacto
