header.titulares.header
  div.logo
    a(href="/")
      img(src="./assets/logo_db3.png", alt="")
  button.menu-hamburguesa#btn-menu
    img(src="/assets/hamburger.png" alt="Menú")
  nav.menu
    ul
      li
        a(href="/") Inicio
      li
        a(href="/quienes_somos") Quienes Somos
      li
        a(href="/servicios") Servicios 
        ul.submenu  
          li
            a(href="/servicios/consultoria") Consultoría
          li
            a(href="/servicios/implementacion") Implementación
          li
            a(href="/servicios/automatizacion") Automatización
          li
            a(href="/servicios/soporte") Soporte 
      li
        a(href="#") Proyectos
      li
        a(href="#") Blog
      li
        a(href="/contacto") Contacto
