extends layout

block styles 
    link(rel="stylesheet", href="/css/index.css")

block content   
    main
        //- Hero image
        section.hero-image
            div.hi-container
                h1 Soluciones digitales a la medida de tu empresa.
                p En Digital Boost ofrecemos servicios de consultor铆a y tecnolog铆a que impulsan tu eficiencia, rentabilidad y crecimiento.
                a(href="#") Empieza ahora
        
        section.container
            div.container-info
                h2  Digital Boost es una empresa de consultor铆a tecnol贸gica enfocada en ayudar a las peque帽as y medianas empresas a digitalizar sus procesos, optimizar su operaci贸n y crecer con el apoyo de herramientas de software a la medida.
                p Desde la automatizaci贸n de procesos hasta la implementaci贸n de sistemas ERP, nuestro objetivo es brindarte soluciones reales, simples y rentables.
            div.container-im
                img(src="/img/imagen_referencia.jpg")
        
        section.container.container-reverse 
                div.container-info
                    h2  Digital Boost es una empresa de consultor铆a tecnol贸gica enfocada en ayudar a las peque帽as y medianas empresas a digitalizar sus procesos, optimizar su operaci贸n y crecer con el apoyo de herramientas de software a la medida.
                    p Desde la automatizaci贸n de procesos hasta la implementaci贸n de sistemas ERP, nuestro objetivo es brindarte soluciones reales, simples y rentables.
                div.container-im
                    img(src="/img/imagen_referencia.jpg")

