*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}

.titulares{
    padding: 1rem;
    background-color: #222;
    color: #eee;
}

.logo a img{
    max-height: 80px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu ul{
    list-style-type: none; 
}

.menu ul a {
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.menu ul a:hover{
    color: #0080ff;
}

.menu ul li .submenu{
    display: none;
}

.menu ul li:hover .submenu{
    display: block;
}


@media screen and (max-width: 767px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header button{
        background-color: #222;
        border-style: none;
        cursor: pointer;
    }
    .menu-hamburguesa img{
        max-width: 30px;
    }

    .menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: auto;
        background-color: #222;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        margin-top: 65px; /* espacio para que no tape el header */
        z-index: 1000;
        }

        /* Cuando se activa, deslízalo a su lugar (posición 0) */
    .menu.activo {
        display: block;
        transform: translateX(0);
    }

    .menu li {
        padding: 1rem;
        border-bottom: 1px solid #555;
    }

}
@media screen and (min-width: 768px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-hamburguesa {
        font-size: 30px;
        cursor: pointer;
        display: none;
    }

    .menu ul {
        display: flex;
    }
    .menu li {
        padding: 1rem;
    }
    .menu ul li .submenu{
        display: none;
        position: fixed;
        background-color: #222;
        min-width: 150px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
}