extends ../layout 

block styles 
    link(rel="stylesheet", href="/css/servicios.css")

block content 
    main
        //- Hero image
        section.hero-image
            div.hi-container
                h1 Servicios de Digital Boost.

        section.container
            div.container-servicios
                article.container-servicios-item
                    a(href="/servicios/consultoria")
                        h2 Consultoría
                        img(src="/img/servicios_referencia.jpg", alt="")
                    p Diagnóstico, análisis y recomendación
                article.container-servicios-item
                    a(href="/servicios/implementacion")
                        h2 Implementación
                        img(src="/img/servicios_referencia.jpg", alt="")
                    p  Adaptación e instalación de soluciones tecnológicas
                article.container-servicios-item
                    a(href="/servicios/automatizacion")
                        h2 Automatización
                        img(src="/img/servicios_referencia.jpg", alt="")
                    p  Digitaliza y controla procesos crítico
                article.container-servicios-item
                    a(href="/servicios/soporte")
                        h2 Soporte
                        img(src="/img/servicios_referencia.jpg", alt="")
                    p Acompañamiento y mejora continua
                article.container-servicios-item
                    a(href="")
                        h2 Más
                        img(src="/img/servicios_referencia.jpg", alt="")
                    p Otros servicios
                article.container-servicios-item
                    a(href="")
                        h2 Más
                        img(src="/img/servicios_referencia.jpg", alt="")
                    p  Otros servicios
